<div class='show-board-header'>
  <h4><%= board.escape('title') %></h4>
	<a href="#/">All Boards</a>
</div>

<div class='lists-window clearfix'>
	<div class="lists-list">
	</div>
	<div class="errors">
	</div>
	<div class="new-list">
	<div>
</div>
