<form class="card-form hidden">
 <div class="form-group">
    <textarea class="form-control" autofocus='true'></textarea>
 </div>
<button class="submit-card btn btn-primary">New card</button>
</form>
<a class="add-card" href="#">Add a card</a>

