/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

div.list-item{
	float: left;
	width: 20%;
	padding: 10px;
	margin: 15px;
	color: #f6f6f6;
	font-size: 14px;
	font-weight: 400;
	background: #428bca;
	border-radius: 10px;
}

.show-board-header {
  margin-left: 20px;
}
.boards, .boards-index-title {
  margin-left: 38px;
  padding: 0;
}

.boards > li, .boards > li a {
  box-sizing: content-box;
}
.boards > li {
  width: 25%;
  float: left;
  position: relative;
  a {
    height: 90px;
    margin: 25px 16px 16px 0;
    color: #f6f6f6;
    background-color: #23719F;
    font-size: 16px;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 700;
    box-sizing: normal;
    position: relative;
    &:hover .shadow {
      background-color: rgba(0,0,0,0.25);
    }
  }
  .shadow {
    background-color: #428bca;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
  }
  .details {
    color: #f6f6f6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 8px 10px;
  }
}
.board-form {
 	margin-top: 25px;
 	margin-left: 30px;
 	display: inline-block;
}

.new-list {

 	padding: 20px;
 	float: left;
}

.lists-window {
  bottom: 0;
  top: 100px;
  left: 0;
  right: 0;
  white-space: nowrap;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.new-list{
	display: block;
	margin: 2px;
}

.delete-card{
	display: none;
}

.card-item:hover .delete-card{
	display: inline-block
}

.add-card {
	color: white
}

.dragged{
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}


#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}
#sortable li { 
	margin: 0px 3px 3px 3px; 
	padding: 1em; 
	padding-bottom: 2em;
	font-size: 1.4em; 
	height: 18px; 

	border-radius: 10px;
}

#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

span.ui-icon.ui-icon-arrowthick-2-n-s {
	background-image: none
}