/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

div.list-item{
	float: left;
	border-style: solid;
	border-color: black;
	width: 20%;
	padding: 10px;
	margin: 15px;
}

li.board-item{
	float: left;
	border-style: solid;
	border-color: black;
	width: 20%;
	padding: 10px;
	margin: 15px;
	font: 50px
}

.new-list{
	display: block;
	margin: 2px;
}

.delete-card{
	display: none;
}

.card-item:hover .delete-card{
	display: inline-block
}


  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
  #sortable li { 
  	margin: 0px 3px 3px 3px; 
  	padding: 1em; 
  	padding-bottom: 2em;
  	font-size: 1.4em; 
  	height: 18px; 
  	border-style: solid;
		border-color: black;
		}
  #sortable li span { position: absolute; margin-left: -1.3em; }